<launch>

	<include file="$(find move_human)/launch/map.launch"/>

	<include file="$(find move_human)/launch/move_base.launch"/>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find move_human)/config/rviz.rviz"/>

	<include file="$(find morse_ros)/launch/test.launch"/>

	<include file="$(find human_sim)/launch/human_sim.launch"/>

</launch>
