<launch>
  <!-- human pose prediction, for the local-planning -->
	  <node pkg="human_path_prediction" type="human_path_prediction" name="human_path_prediction" output="screen" >
    <remap from="~" to="/human_path_predict"/>
    <remap from="/human_path_predict/tracked_humans" to="/tracked_humans"/>
    <remap from="/human_path_predict/external_human_paths" to="/humans_sim_node/MultiGoalPlanner/plans"/>
    <remap from="/human_path_predict/external_human_trajs" to="/move_base_node/HATebLocalPlannerROS/human_local_trajs"/>

    <param name="velobs_mul" value="1.0"/>
    <param name="velscale_mul" value="2.0"/>
  </node>
  <node pkg="human_path_prediction" type="predict_goal.py" name="human_goal_predict" output="screen"/>


  <node pkg="move_base" type="move_base" name="move_base" output="screen">
		<remap from="scan" to="base_scan"/>
    <remap from="cmd_vel" to="base_controller/command"/>

    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="base_local_planner" value="hateb_local_planner/HATebLocalPlannerROS" />

    <rosparam file="$(find laas_navigation)/pr2_move_base_config/move_base_params.yaml" command="load" />
    <rosparam file="$(find laas_navigation)/pr2_move_base_config/global_costmap_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find laas_navigation)/pr2_move_base_config/local_costmap_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find laas_navigation)/pr2_move_base_config/hateb_local_planner_params.yaml" command="load" ns="HATebLocalPlannerROS" />

    <!-- Remapping topics properly (if necessary)-->
    <!-- <remap from="~" to="move_base_node"/> -->

    <!-- For human_layers -->
    <!-- <remap from="/move_base_node/local_costmap/human_layers/humans_states" to="/move_base_node/HATebLocalPlannerROS/humans_states" />
    <remap from="/move_base_node/global_costmap/human_layers_1/humans_states" to="/move_base_node/HATebLocalPlannerROS/humans_states" />
    <remap from="/move_base_node/global_costmap/human_layers_2/humans_states" to="/move_base_node/HATebLocalPlannerROS/humans_states" /> -->
    <!-- For Backoff recovery -->
    <!-- <remap from="/move_base_node/HATebLocalPlannerROS/current_goal" to="/move_base_node/current_goal"/> -->
  </node>
</launch>
