[submodule "src/cohan_planner_multi"]
	path = src/cohan_planner_multi
	url = https://github.com/sphanit/cohan_planner_multi
[submodule "src/navigation"]
	path = src/navigation
	url = https://github.com/AnthonyFavier/navigation
[submodule "src/smb"]
	path = src/smb
	url = https://github.com/AnthonyFavier/smb
