<launch>
  <arg name="map_name" default="laas_adream"/>
  <arg name="localize" default="fake"/>
  <arg name="num_humans" default="2"/>
  <arg name="node_start_delay" default="4.0"/>
  <arg name="gui" default="false"/>
  <arg name="fast_mode" default="false"/>

  <!-- Stage simulator and robot robot description -->
  <group if="$(eval 'laas_adream'==arg('map_name'))">
    <include file="$(find stage_ros)/launch/stage_pr2_laas_adream.launch">
      <arg name="fast_mode" value="$(arg fast_mode)"/>
      <arg name="gui" value="$(arg gui)" unless="$(arg fast_mode)"/>
    </include>
  </group>

  <group if="$(eval 'maze'==arg('map_name'))">
    <include file="$(find stage_ros)/launch/stage_pr2_maze.launch">
      <arg name="fast_mode" value="$(arg fast_mode)"/>
      <arg name="gui" value="$(arg gui)" unless="$(arg fast_mode)"/>
    </include>
  </group>

  <group if="$(eval 'open_space'==arg('map_name'))">
    <include file="$(find stage_ros)/launch/stage_pr2_open_space.launch">
      <arg name="fast_mode" value="$(arg fast_mode)"/>
      <arg name="gui" value="$(arg gui)" unless="$(arg fast_mode)"/>
    </include>
  </group>

  <!-- static map and localization -->
  <include file="$(find inhus_navigation)/launch/stage_pr2_launch/stage_pr2_locate.launch">
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="localize" value="$(arg localize)"/>
  </include>

  <!-- navigation -->
  <include file="$(find inhus_navigation)/launch/stage_pr2_launch/stage_pr2_nav.launch">
    <arg name="node_start_delay" value="$(arg node_start_delay)"/>
  </include>

  <!-- Stage humans to /tracked_humans -->
  <node name="humans" pkg="stage_ros" type="humans_bridge.py" args="$(arg num_humans)" output="screen"/>

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find inhus_navigation)/rviz/cohan_nav_stage.rviz" />
</launch>
