<launch>
  <arg name="ns" default="human1"/>
  <arg name="map_name" default="laas_adream"/>
  <arg name="node_start_delay" default="2.0"/>

  <!-- MAP SERVERS -->
  <!-- static map server -->
  <include file="$(find inhus_navigation)/launch/other_launch/_map_static.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="map_name" value="$(arg map_name)"/>
  </include>
  <!-- pov map server -->
  <include file="$(find inhus_navigation)/launch/other_launch/_map_pov.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="map_name" value="$(arg map_name)"/>
  </include>

  <include file="$(find inhus_navigation)/launch/cohan_nav/include/_agent_with_ns.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="node_start_delay" value="$(arg node_start_delay)" />
  </include>

</launch>
