<launch>
  <arg name="map_name" default="laas_adream"/>
  <arg name="localize" default="fake"/>
  <arg name="num_agents" default="3"/>
  <arg name="node_start_delay" default="2.0"/>

<!-- MAP SERVERS -->
  <!-- start map_server with laas_adream map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find inhus_navigation)/maps/laas_adream/laas_adream.yaml" if="$(eval 'laas_adream'==arg('map_name'))"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find inhus_navigation)/maps/maze/maze.yaml" if="$(eval 'maze'==arg('map_name'))"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find inhus_navigation)/maps/open_space/open_space.yaml" if="$(eval 'open_space'==arg('map_name'))"/>


  <include file="$(find inhus_navigation)/launch/cohan_nav/include/robot_only.launch">
    <arg name="node_start_delay" value="$(arg node_start_delay)" />
    <arg name="localize" value="$(arg localize)"/>
    <arg name="num_agents" value="$(arg num_agents)"/>
  </include>

</launch>
