<launch>
  <arg name="map_name" default="laas_adream"/>
  <arg name="node_start_delay" default="4.0"/>
  <arg name="gui" default="true"/>
  <arg name="fast_mode" default="false"/>

  <!-- simulator and robot robot description -->
  <include file="$(find inhus_navigation)/launch/mine/mine_stage_simulator.launch">
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="fast_mode" value="$(arg fast_mode)"/>
  </include>

  <!-- localization and maps -->
  <include file="$(find inhus_navigation)/launch/mine/mine_stage_locate.launch">
    <arg name="map_name" value="$(arg map_name)"/>
  </include>

  <!-- navigation -->
  <include file="$(find inhus_navigation)/launch/mine/mine_stage_nav.launch">
    <arg name="node_start_delay" value="$(arg node_start_delay)"/>
  </include>

  <!-- human controller and boss -->
  <include file="$(find human_sim)/launch/all.launch"/>

  <!-- visualization with Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find inhus_navigation)/rviz/config.rviz" />
</launch>
