<launch>
  <arg name="map_name" default="laas_adream"/>
  <arg name="node_start_delay" default="4.0"/>
  <arg name="gui" default="true"/>
  <arg name="fast_mode" default="false"/>

  <!-- Stage simulator and robot robot description -->
  <group if="$(eval 'laas_adream'==arg('map_name'))">
    <include file="$(find stage_ros)/launch/stage_pr2_laas_adream.launch">
      <arg name="fast_mode" value="$(arg fast_mode)"/>
      <arg name="gui" value="$(arg gui)" unless="$(arg fast_mode)"/>
    </include>
  </group>
  <group if="$(eval 'maze'==arg('map_name'))">
    <include file="$(find stage_ros)/launch/stage_pr2_maze.launch">
      <arg name="fast_mode" value="$(arg fast_mode)"/>
      <arg name="gui" value="$(arg gui)" unless="$(arg fast_mode)"/>
    </include>
  </group>
  <group if="$(eval 'open_space'==arg('map_name'))">
    <include file="$(find stage_ros)/launch/stage_pr2_open_space.launch">
      <arg name="fast_mode" value="$(arg fast_mode)"/>
      <arg name="gui" value="$(arg gui)" unless="$(arg fast_mode)"/>
    </include>
  </group>

  <!-- localization and maps -->
  <include file="$(find inhus_navigation)/launch/mine/mine_stage_locate.launch">
    <arg name="map_name" value="$(arg map_name)"/>
  </include>

  <!-- navigation -->
  <include file="$(find inhus_navigation)/launch/mine/mine_stage_nav.launch">
    <arg name="node_start_delay" value="$(arg node_start_delay)"/>
  </include>

  <!-- human controller and boss -->
  <include file="$(find human_sim)/launch/all.launch"/>

  <!-- visualization with Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find inhus_navigation)/rviz/config.rviz" />
</launch>
