<launch>
	<arg name="ns" default="human1"/>
	<arg name="map_name" default="laas_adream"/>

	<node name="map_server_pov" pkg="map_server" type="map_server" ns="$(arg ns)" args="$(find inhus_navigation)/maps/laas_adream/laas_adream_pov.yaml" if="$(eval 'laas_adream'==arg('map_name'))">
		<remap from="map" to="map_pov"/>
	</node>
  <node name="map_server_pov" pkg="map_server" type="map_server" ns="$(arg ns)" args="$(find inhus_navigation)/maps/maze/maze_pov.yaml" if="$(eval 'maze'==arg('map_name'))">
		<remap from="map" to="map_pov"/>
	</node>
  <node name="map_server_pov" pkg="map_server" type="map_server" ns="$(arg ns)" args="$(find inhus_navigation)/maps/open_space/open_space_pov.yaml" if="$(eval 'open_space'==arg('map_name'))">
		<remap from="map" to="map_pov"/>
	</node>

</launch>
