<launch>
	<arg name="ns_human" default="human1"/>
	<arg name="ns_robot" default=""/>
	<!-- ns_robot = "" or "smb" -->
	<arg name="map_name" default="laas_adream"/>

	<node name="boss_node" type="boss_node" pkg="inhus" output="screen" launch-prefix="xterm -geometry '80x25' -e">
		<remap from="/human/goal_done" to="/$(arg ns_human)/goal_done"/>
		<remap from="/human/new_goal" to="/$(arg ns_human)/new_goal"/>

		<remap from="/robot/move_base_goal_status" to="/$(arg ns_robot)/move_base/status"/>
		<remap from="/robot/move_base_goal" to="/$(arg ns_robot)/move_base_simple/goal"/>

		<param name="map_name" value="$(arg map_name)"/>
	</node>

</launch>
