<launch>

	<node name="humanBehaviorModel_node" type="humanBehaviorModel_node" pkg="inhus" ns="human" output="screen"/> <!-- launch-prefix="xterm -geometry '80x25+1470+0' -e"/-->
	<node name="taskPlanner_node" type="taskPlanner_node" pkg="inhus" ns="human"/>
	<node name="supervisor_node" type="supervisor_node" pkg="inhus" ns="human" output="screen"/> <!--launch-prefix="xterm -geometry '156x25+0+0' -e"/-->
	<node name="input_node" type="input_node" pkg="inhus" ns="human/interface"/>
	<node name="output_node" type="output_node" pkg="inhus" ns="human/interface"/>
	<node name="logManager_node" type="logManager_node" pkg="inhus" ns="human"/>
	<node name="poseLog_node" type="poseLog_node" pkg="inhus" ns="human"/>
	<node name="lowLevelController_node" type="lowLevelController_node" pkg="inhus" ns="human"/>

</launch>
