<launch>

	<include file="$(find move_human)/launch/map.launch"/>
	<include file="$(find move_human)/launch/pov_map.launch"/>
	<include file="$(find move_human)/launch/move_base.launch"/>

	<node name="place_robot_node" type="place_robot_node" pkg="move_human" output="screen" ns="human2"/>
	<node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscanR" ns="human2">
		<!-- See all params at http://wiki.ros.org/pointcloud_to_laserscan -->

		<!-- Min and max height to sample from depth data - these values worked for my drone -->
		<param name="min_height" value="-0.1"/>
		<param name="max_height" value="0.1"/>

		<!-- Min and max range range of generated laser scan - set this to match your depth sensor -->
		<param name="range_min" value="0.0"/>
		<param name="range_max" value="100.0"/>

		<!-- Frame of your depth sensor -->
		<param name="target_frame" value="human2_robot_base"/>

		<!-- Topic from which to read PointCloud2 -->
		<remap from="cloud_in" to="robot_pose_PointCloud2"/>

		<!-- Topic to which LaserScan will be published -->
		<remap from="scan" to="robot_pose_LaserScan"/>
	</node>

	<node name="place_human_node" type="place_human_node" pkg="move_human" output="screen" ns="human2"/>
	<node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscanH" ns="human2">
		<!-- See all params at http://wiki.ros.org/pointcloud_to_laserscan -->

		<!-- Min and max height to sample from depth data - these values worked for my drone -->
		<param name="min_height" value="-0.1"/>
		<param name="max_height" value="0.1"/>

		<!-- Min and max range range of generated laser scan - set this to match your depth sensor -->
		<param name="range_min" value="0.0"/>
		<param name="range_max" value="100.0"/>

		<!-- Frame of your depth sensor -->
		<param name="target_frame" value="human_human_base"/>

		<!-- Topic from which to read PointCloud2 -->
		<remap from="cloud_in" to="human_pose_PointCloud2"/>

		<!-- Topic to which LaserScan will be published -->
		<remap from="scan" to="human_pose_LaserScan"/>
	</node>


</launch>
