  <launch>
    <arg name="map_name" default="laas_adream"/>
    <arg name="scenario_name" value="pr2_$(arg map_name)_human.py"/>

    <!-- Launch morse simualator in the scenario -->
    <remap from="human1" to="plop"/>
    <node pkg="morse_ros" type="start_morse.sh" args="$(find morse_ros)/scenarios/$(arg scenario_name)" name="morse" output="screen" required="true"/>

  	<!-- use simulated clock -->
    <param name="use_sim_time" type="bool" value="true" />

    <!-- start pr2 robot description -->
    <include file="$(find inhus_navigation)/launch/other_launch/_robot_description.launch"/>

    <!-- tuck the arms by default -->
    <include file="$(find morse_ros)/launch/pr2_tuck_arms.launch" />

  </launch>
