<launch>
	<arg name="ns" default="human1"/>
  	<arg name="num_agents" default="1"/>

	<node name="input_node" type="input_stage_node" pkg="inhus_navigation" ns="$(arg ns)/interface" output="screen"/>
	<node name="output_node" type="output_stage_node" pkg="inhus_navigation" ns="$(arg ns)/interface" output="screen"/>

  	<node name="agentsBridge_node" pkg="inhus_navigation" type="agentsBridge_node" ns="$(arg ns)" output="screen"/>

</launch>
