<launch>
  <arg name="map_name" default="laas_adream"/>
  <arg name="localize" default="fake"/>
  <arg name="num_humans" default="3"/>
  <arg name="node_start_delay" default="2.0"/>

  <!-- tuck the arms by default -->
  <include file="$(find morse_ros)/launch/pr2_tuck_arms.launch" />

  <!-- static map and localization -->
  <include file="$(find inhus_navigation)/launch/morse_pr2_launch/morse_pr2_locate.launch">
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="localize" value="$(arg localize)"/>
  </include>

  <!-- navigation -->
  <include file="$(find inhus_navigation)/launch/morse_pr2_launch/morse_pr2_nav.launch">
    <arg name="node_start_delay" value="$(arg node_start_delay)"/>
  </include>

  <!-- Morse humans to /tracked_humans -->
  <node name="humans" pkg="morse_ros" type="humans_bridge.py" args="$(arg num_humans)" output="screen"/>

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find inhus_navigation)/rviz/cohan_nav_morse.rviz" />

</launch>
