<launch>
  <arg name="ns" default="human1"/>

  <include file="$(find morse_ros)/launch/morse_pr2.launch"/>

  <!-- Interface with the simulator -->
  <include file="$(find inhus_navigation)/launch/inhus_navigation_launch/include/morse_interface.launch">
    <arg name="ns" value="$(arg ns)"/>
  </include>

</launch>
