<launch>
  <arg name="ns" default="human1"/>
  <arg name="map_name" default="laas_adream"/>
  <arg name="num_agents" default="1"/>

  <param name="map_name" value="$(arg map_name)"/>

  <include file="$(find morse_ros)/launch/morse_pr2.launch">
    <arg name="map_name" value="$(arg map_name)"/>
  </include>

  <!-- Interface with the simulator -->
  <include file="$(find inhus_navigation)/launch/simulator_launch/include/_morse_interface.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="num_agents" value="$(arg num_agents)"/>
  </include>

</launch>
