<launch>
  <arg name="ns" default="human1"/>
  <arg name="map_name" default="laas_adream"/>
  <arg name="gui" default="true"/>
  <arg name="fast_mode" default="false"/>
  <arg name="num_agents" default="1"/>

  <param name="map_name" value="$(arg map_name)"/>

  <!-- Remap stage agents topics -->
  <remap from="human1/base_pose_ground_truth" to="stage_agents/human1/base_pose_ground_truth"/>
  <remap from="human1/odom" to="stage_agents/human1/odom"/>
  <remap from="human1/base_scan" to="stage_agents/human1/base_scan"/>
  <remap from="human1/cmd_vel" to="stage_agents/human1/cmd_vel"/>

  <remap from="base_pose_ground_truth" to="stage_agents/pr2/base_pose_ground_truth"/>
  <remap from="odom" to="stage_agents/pr2/odom"/>
  <remap from="base_scan" to="stage_agents/pr2/base_scan"/>
  <remap from="cmd_vel" to="stage_agents/pr2/cmd_vel"/>

  <!-- Stage simulator and robot robot description -->
  <include file="$(find stage_ros)/launch/stage_pr2.launch">
    <arg name="fast_mode" value="$(arg fast_mode)"/>
    <arg name="gui" value="$(arg gui)" unless="$(arg fast_mode)"/>
    <arg name="map_name" value="$(arg map_name)"/>
  </include>

  <!-- Interface with the simulator -->
  <include file="$(find inhus_navigation)/launch/simulator_launch/include/_stage_interface.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="num_agents" value="$(arg num_agents)"/>
  </include>

</launch>
