<launch>
  <!-- Node start delay to avoid crashing of navigation node -->
  <arg name="ns" default="human1"/>
  <arg name="node_start_delay" default="1.0" />
  <arg name="map_name" default="laas_adream"/>

  <group ns="$(arg ns)">
    <include file="$(find inhus_navigation)/launch/cohan_nav/include/_agent_tracking.launch">
      <arg name="ns" value="$(arg ns)"/>
      <arg name="map_name" value="$(arg map_name)"/>
    </include>

    <include file="$(find inhus_navigation)/launch/cohan_nav/include/_move_base_nav.launch">
      <arg name="ns" value="$(arg ns)"/>
      <arg name="node_start_delay" value="$(arg node_start_delay)"/>
    </include>

    <include file="$(find inhus_navigation)/launch/cohan_nav/include/_localization.launch">
      <arg name="ns" value="$(arg ns)"/>
    </include>
  </group>

</launch>
