<launch>

  <arg name="ns" default=""/>

  <group unless="$(eval ''==arg('ns'))">

    <node pkg="morse_ros" type="publish_human_tf.py" name="human_tf" output="screen">
      <param name="ns" value="$(arg ns)"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="human1_odom_tf" args="0 0 0 0 0 0 /map /human1/odom 20"/>
  </group>

</launch>
