<launch>
  <!-- Node start delay to avoid crashing of navigation node -->
  <arg name="node_start_delay" default="4.0" />
  <arg name="localize" default="fake"/>
  <arg name="num_agents" default="2"/>

  <include file="$(find inhus_navigation)/launch/cohan_nav/include/agent_tracking.launch">
    <arg name="num_agents" value="$(arg num_agents)"/>
  </include>

  <include file="$(find inhus_navigation)/launch/cohan_nav/include/move_base_nav.launch">
    <arg name="node_start_delay" value="$(arg node_start_delay)"/>
  </include>

  <include file="$(find inhus_navigation)/launch/cohan_nav/include/localization.launch">
    <arg name="localize" value="$(arg localize)"/>
  </include>


</launch>
