<launch>
  <arg name="ns" default="human1"/>
  <arg name="map_name" default="laas_adream"/>

  <!-- MAP SERVERS -->
    <!-- static map server -->
    <include file="$(find inhus_navigation)/launch/other_launch/_map_static.launch">
      <arg name="ns" value="$(arg ns)"/>
      <arg name="map_name" value="$(arg map_name)"/>
    </include>

    <!-- pov map server -->
    <include file="$(find inhus_navigation)/launch/other_launch/_map_pov.launch">
      <arg name="ns" value="$(arg ns)"/>
      <arg name="map_name" value="$(arg map_name)"/>
    </include>


  <!-- FAKE LOCALIZATION -->
    <!-- fake localization : Human1, Human2 -->
    <node pkg="tf" type="static_transform_publisher" name="human1_odom_tf" args="0 0 0 0 0 0 /map /human1/odom 20"/>
    <node pkg="tf" type="static_transform_publisher" name="human1_base_link_tf" args="0 0 0 0 0 0 /human1/base_footprint /human1/base_link 20"/>
    <!-- <node pkg="tf" type="static_transform_publisher" name="human2_odom_tf" args="0 0 0 0 0 0 /map /human2/odom 20"/> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="human3_odom_tf" args="0 0 0 0 0 0 /map /human3/odom 20"/> -->


  <!-- PLACE ROBOT -->
    <!-- placeRobot node add the robot on the global costmap -->
    <node name="placeRobot_pub_node" type="placeRobot_pub_node" pkg="inhus_navigation" output="screen" ns="$(arg ns)"/>

  <!-- convert pointcloud to laserscan to add more easily the robot on the costmap -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" ns="$(arg ns)">
      <!-- See all params at http://wiki.ros.org/pointcloud_to_laserscan -->

      <!-- Min and max height to sample from depth data - these values worked for my drone -->
      <param name="min_height" value="-0.1"/>
      <param name="max_height" value="0.1"/>

      <!-- Min and max range range of generated laser scan - set this to match your depth sensor -->
      <param name="range_min" value="0.0"/>
      <param name="range_max" value="100.0"/>

      <!-- Frame of your depth sensor = Robot -->
      <param name="target_frame" value="robot_inhus"/>

      <!-- Topic from which to read PointCloud2 -->
      <remap from="cloud_in" to="robot_pose_PointCloud2"/>

      <!-- Topic to which LaserScan will be published -->
      <remap from="scan" to="robot_pose_LaserScan"/>
    </node>

</launch>
