<launch>
  <arg name="ns" default="human1"/>

  <!-- Node start delay to avoid crashing of navigation node -->
  <arg name="node_start_delay" default="4.0" />

  <!-- Define which global and local planner to be used by Move Base -->
  <arg name="global_planner" default="global_planner/GlobalPlanner"/>
	<arg name="local_planner" default="teb_local_planner/TebLocalPlannerROS"/>

  <!-- move base node with a starting delay if needed -->
	<node pkg="move_base" type="move_base" name="move_base" ns="$(arg ns)" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">

		<remap from="cmd_vel" to="cmd_geo"/>
		<remap from="/map" to="map_static"/>
    	<remap from="odom" to="interface/in/human_odom"/>

		<param name="base_global_planner" value="$(arg global_planner)"/>
		<param name="base_local_planner" value="$(arg local_planner)"/>

		<rosparam file="$(find inhus_navigation)/config/inhus_nav_config/planner.yaml" command="load"/>
		<rosparam file="$(find inhus_navigation)/config/inhus_nav_config/costmap_common.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find inhus_navigation)/config/inhus_nav_config/costmap_common.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find inhus_navigation)/config/inhus_nav_config/costmap_global.yaml" command="load"/>
		<rosparam file="$(find inhus_navigation)/config/inhus_nav_config/costmap_local.yaml" command="load"/>

	</node>

</launch>
