<launch>
    <!-- start morse with a scenario -->
    <arg name="scenario" default="laas_adream" />
    <node pkg="morse_ros" type="start_morse.sh"
        args="$(find morse_ros)/scenarios/fakerobot_$(arg scenario)_scenario.py"
        name="morse" output="screen" required="true" />

    <!-- use simulated clock -->
    <param name="use_sim_time" type="bool" value="True" />
</launch>
