<launch>
    <!-- start morse with a scenario -->
    <arg name="scenario" default="laas_adream" />
    <arg name="rear_laser" default="false" />
    <node pkg="morse_ros" type="start_morse.sh"
        args="$(find morse_ros)/scenarios/pr2_human_$(arg scenario)_scenario.py"
        name="morse" output="screen" required="true" unless="$(arg rear_laser)" />
    <node pkg="morse_ros" type="start_morse.sh"
        args="$(find morse_ros)/scenarios/pr2_human_$(arg scenario)_scenario.py --rear_laser"
        name="morse" output="screen" required="true" if="$(arg rear_laser)" />

    <!-- use simulated clock -->
    <param name="use_sim_time" type="bool" value="true" />

    <!-- start pr2 robot -->
    <include file="$(find morse_ros)/launch/pr2.launch">
        <arg name="rear_laser" value="$(arg rear_laser)" />
    </include>
</launch>
