<launch>
  <arg name="ns" default="human1"/>
  <arg name="map_name" default="laas_adream"/>
  <arg name="node_start_delay" default="4.0"/>
  <arg name="gui" default="true"/>
  <arg name="fast_mode" default="false"/>

  <!-- simulator -->
  <include file="$(find inhus_navigation)/launch/stage_launch/include/stage_simulator.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="fast_mode" value="$(arg fast_mode)"/>
  </include>

  <!-- <include file="$(find inhus_navigation)/launch/morse_pr2_multi_launch/morse_human_agent.launch"/> -->

  <!-- handle when to consider the robot or not -->
  <node name="placeRobot_client_node" type="placeRobot_client_node" pkg="inhus_navigation" ns="$(arg ns)"/>

  <!-- human controller and boss -->
  <include file="$(find inhus)/launch/all.launch">
    <arg name="ns" value="$(arg ns)"/>
  </include>

  <!-- Interface with the simulator -->
  <include file="$(find inhus_navigation)/launch/stage_launch/include/stage_interface.launch">
    <arg name="ns" value="$(arg ns)"/>
  </include>

  <!-- visualization with Rviz -->
  <include file="$(find inhus_navigation)/launch/rviz.launch"/>

</launch>
